<div class="mx-auto" style="width: 500px;">
  <div class="card">
    <div class="card-body">
      <a routerLink="/" class="float-right btn btn-outline-primary">Sign In</a>
      <h5 class="card-title mb-4 mt-1">Sign Up</h5>
      <form>
        <div class="form-group">
          <label>Your First Name</label>
          <input name="firstName" placeholder="First Name" type="text" [formControl]="firstName" class="form-control" />
        </div>
        <div class="form-group">
          <label>Your Last Name</label>
          <input name="lastName" placeholder="Last Name" type="text" [formControl]="lastName" class="form-control" />
        </div>
        <div class="form-group">
          <label>Your Email ID</label>
          <input name="email" placeholder="Email" type="text" [formControl]="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input name="password" placeholder="Password" type="password" [formControl]="password" class="form-control" />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input name="cPassword" placeholder="Confirm Password" type="password" [formControl]="cPassword"
            class="form-control" />
        </div>
        <div class="form-group">
          <label>Your Phone Number</label>
          <input name="phone" placeholder="Phone Number" type="text" [formControl]="phoneNumber" class="form-control" />
        </div>

        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="loginOption" value="Doctor" [formControl]="userType" />
            <label class="form-check-label">Doctor</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="loginOption" value="Health Worker"
              [formControl]="userType" />
            <label class="form-check-label">Health Worker</label>
          </div>



          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="loginOption" value="Patient" [formControl]="userType" />
            <label class="form-check-label">Patient</label>
          </div>
        </div>

        <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)"
          [class.hovering]="isHovering">
          <h3> Upload Photo </h3>



          <div class="file">
            <label class="file-label">


              <input class="file-input" type="file" (change)="startUpload($event.target.files)">


              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  or choose a file…
                </span>
              </span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <button #submitButton [disabled]="disabled" type="submit" class="btn btn-primary btn-block"
            (click)="onSignUpClick()">
            Sign Up
          </button>
        </div>
        <div *ngIf="validationError" class="alert alert-danger"> {{errorMessage}}</div>

      </form>



    </div>
  </div>
</div>